Projekat/SCADA/RealTimeUnit/Connected Services/ServiceReference1/ScadaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60577/ScadaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ScadaModels" />
  <xs:import schemaLocation="http://localhost:60577/ScadaService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="initialize">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="publicKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="initializeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="initializeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="writeValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address" type="xs:int" />
        <xs:element minOccurs="0" name="value" type="xs:double" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="writeValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="writeValueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deinitialize">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deinitializeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="readDisplayValues">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="readDisplayValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="readDisplayValuesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewSimulationDriverUnit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ScadaModels" minOccurs="0" name="fType" type="q1:functionType" />
        <xs:element minOccurs="0" name="address" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewSimulationDriverUnitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addNewSimulationDriverUnitResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeSimulationDriverUnit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeSimulationDriverUnitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeSimulationDriverUnitResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ScadaModels" minOccurs="0" name="t" nillable="true" type="q2:Tag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addTagResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeTagResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changeTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagID" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="changes" nillable="true" type="q3:ArrayOfKeyValueOfTagAttributeanyTypetMeCp4FZ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changeTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="changeTagResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTags">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getTagsResult" nillable="true" type="q4:ArrayOfKeyValueOfstringTagM0guNtgv" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUnits">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUnitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getUnitsResult" nillable="true" type="q5:ArrayOfKeyValueOfstringSimulationUnitM0guNtgv" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlarmerInit">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AlarmerInitResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnAlarm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ScadaModels" minOccurs="0" name="t" nillable="true" type="q6:Tag" />
        <xs:element minOccurs="0" name="value" type="xs:double" />
        <xs:element minOccurs="0" name="timeStamp" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendOutputSignal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="address" type="xs:int" />
        <xs:element minOccurs="0" name="value" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendOutputSignalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sendOutputSignalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendManualInputSignal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="address" type="xs:int" />
        <xs:element minOccurs="0" name="value" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendManualInputSignalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sendManualInputSignalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTagsDict">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTagsDictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getTagsDictResult" nillable="true" type="q7:ArrayOfKeyValueOfstringTagM0guNtgv" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEntries">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getEntriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ScadaModels" minOccurs="0" name="getEntriesResult" nillable="true" type="q8:ArrayOfDBEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScanHappened">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ScadaModels" minOccurs="0" name="t" nillable="true" type="q9:Tag" />
        <xs:element minOccurs="0" name="value" type="xs:double" />
        <xs:element minOccurs="0" name="timeStamp" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScanHappenedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DictChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tagsDict" nillable="true" type="q10:ArrayOfKeyValueOfstringTagM0guNtgv" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DictChangedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TrendingSubscriberInit">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TrendingSubscriberInitResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnScan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ScadaModels" minOccurs="0" name="t" nillable="true" type="q11:Tag" />
        <xs:element minOccurs="0" name="value" type="xs:double" />
        <xs:element minOccurs="0" name="timeStamp" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTagsDictChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tagsDict" nillable="true" type="q12:ArrayOfKeyValueOfstringTagM0guNtgv" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>